.container {
    background-color: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    margin: 60px;
    margin-left: 0;
    width: 800px;

    .container__barKilo {
        background-color: red;
    }
}