.nutrient {
    width: 260px;
    height: 120px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    margin-left: 60px;
    position: relative;

    @media screen and (max-width: 1340px) and (min-width: 1024px) {
        margin-left: 0;
        margin-top: 40px;
        width: 350px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        .icon {
            margin-right: 20px;
            padding: 20px;
            background-color: rgb(255, 0, 0, 0.07);
            border-radius: 6px;
        }

        .value {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .label {
            color: #74798C;
        }
    }
}