@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&family=Roboto&display=swap');

:root {
    --primary: #FF0000;
    --secondary: #282D30;

    --nut-1: #4AB8FF;
    --nut-2: #FDCC0C;
    --nut-3: #FD5181;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}